<div class="row mt-4 pt-4">

    <!-- Search bar -->
    <div class="col-md-4">
      <input type="text"
        class="form-control w-75"
        name="searchTerm"
        id="searchInput"
        [(ngModel)]= "searchTerm"
        (keyup)="onSearchInputChange()"
        placeholder="Search for a launch..."
        required
        autocomplete="off">
    </div>
    
    <!-- Select box - Period -->
    <div class="col-md-4">
      <select
        class="form-control w-75"
        [(ngModel)]="periodFilter"
        name="period"
        id="period"
        (change)="onPeriodChange()">
          <option *ngFor="let option of periodOptions">
            {{option}}
          </option>
      </select>
    </div>
    <!-- Toggle - Success Launches -->
    <mat-slide-toggle
      *ngIf="showToggleButton"
      class="col-md-4"
      [(ngModel)]="isSuccess"
      [color]="slideToggleButtonColor"
      (change)="toggle($event)">
        <span *ngIf="isSuccess">Success Launch</span>
        <span *ngIf="!isSuccess">Failed Launch</span>
    </mat-slide-toggle>
  </div>