<div class="card">
  <!-- <div class="col-md-4 col-sm-4">
      <img class="d-inline-block" src="{{launch.img}}" class="card-img" alt="Launch Image">
  </div> -->
  <div class="card-img" [ngStyle]="currentStyles"></div>
  <div class="card-content">
    <div class="card-body">
      <h5 class="card-title">{{launch.name}}</h5>
      <div class="card-subtitle">{{launch.date | date: 'medium'}}</div>
      <div class="card-description">{{launch.details}}</div>
    </div>
    <!-- <hr/> -->
    <div class="card-footer">
        <div class="card-footer-info">{{launch.classification}}</div>
        <div class="card-footer-info">{{launch.rocketName}}</div>
    </div>
  </div>
</div>
  