.launch-card {
    max-width: 70vw;
    h5 {
        margin-bottom: 2px;
    }
    img {
        height: 100%;
    }
    
    .card-date{
        color: gray;
        font-size: 14px;
    }
  
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-top: 1px solid rgba(0,0,0,0.125);
        // padding-top: 15px;
        // vertical-align: middle;
        // max-height: 10px;
        line-height: 2rem;
    }
  }