<div class="pt-4">
      <div class="card launch-card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4 col-sm-4">
                <img class="d-inline-block" src="{{launch.img}}" class="card-img" alt="Launch Image">
            </div>
            <div class="col-md-8 col-sm-8">
              <div class="card-body row-md-10">
                <h5 class="card-title">{{launch.name}}</h5>
                <div class="card-date">{{launch.date}}</div>
                <p class="card-text">{{launch.details}}</p>
              </div>
              <!-- <hr/> -->
              <div class="footer row-md-2">
                  <div>{{launch.classification}}</div>
                  <div>{{launch.rocketName}}</div>
              </div>
            </div>
          </div>
        </div>
  </div>
  