<div class="launch-card">
  <img class="d-inline-block" src="https://farm5.staticflickr.com/4695/25557986177_2d315f4c11_o.jpg" class="card-img" alt="Launch Image">
  <div class="card-info d-inline-block">
    <div class="card-info-body">
      <h5>Name</h5>
      <div class="card-date">30th August 2020</div>
      <p>
        Details:This are the details about the launch and the rocket and wherever more you want to say.
        This are the details about the launch and the rocket and wherever more you want to say.
      </p>
      <hr/>
      <div class="card-info-body-bottom">
        <div>Success!</div>
        <div>Rocket Name</div>
      </div>
    </div>
  </div>
</div>